@value globals: "./globals.css";
@value dark-blue, accent, white from globals;

.aboutHeader {
    color: dark-blue;
    margin-bottom: 1rem;
    font-size:40px;
}

.layout {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 1.25rem;
    padding: 4rem;
}

.picture {
    width: fit-content;
    flex: 1 0 auto;
}

.downloadContainer {
    display: block;
    height: fit-content;
    margin-top: .5rem;  
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 1 auto;
}

.linkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* Shoes */
.shoesContainer {
    position: absolute;
    left: -100px;
    bottom: -180px;
    z-index: 1000;
    transform: rotate(320deg);
}

.shoe {
    fill: dark-blue;
    animation: fadeInOUt 5s linear infinite;
}

.shoesContainer .shoe:nth-child(4) { animation-delay: .5s }
.shoesContainer .shoe:nth-child(3) { animation-delay: 1s }
.shoesContainer .shoe:nth-child(2) { animation-delay: 1.5s }
.shoesContainer .shoe:nth-child(1) { animation-delay: 2s }

.left {
    transform: rotate(-25deg);
}

.right {
    transform: rotate(-150deg) scaleX(-1);
    margin-top: 50px;

}


@keyframes fadeInOUt { 
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }
  
  @media (max-width: 850px) {
    .layout {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
    }

    .layoutContainer {
        padding: 4rem 0.75rem;
    }

    .shoesContainer {
        display: none;
    }
}