@value dark-blue: #003249;
@value accent: #e99b26;
@value accent-hover: #f9ab36;
@value white: #f2f2f2;
@value white-hover: #d8d8d8;
@value boxShadow1: #001d2a;
@value boxShadow2: #004768;
@value connectorWidth: 0.2rem;

.main-container {
  padding-top: 70px;
  scrollbar-color: yellow blue;
}
.entries .main-image img {
  width: 100%;
  display: block;
}


.dark {
  color: #003249;
}

.light {
  color: #f2f2f2;
}

.accentColor {
  color: #e99b26;
}

