@value globals: "./globals.css";
@value dark-blue, accent, white from globals;

.hero {
    background-color: dark-blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    gap: 4rem;
    min-height: 100vh;
}

.heroText {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.heroImage {
    max-width: 50%;
    /* display: block; */
}

.nameHeader {
    font-size: 60px;
    font-weight: 650;
}

.details {
    font-size: 20px;
}

@media (max-width: 1100px) {
    .heroImage {
        display: none;
    }
}