@value globals: "./globals.css";
@value dark-blue, accent, white from globals;

.addressDetail {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: dark-blue;
}

.addressDetail span {
    margin-left: 1.5rem;
}

.addressDetail:hover {
    text-decoration: none;
}

.iconContainer {
    border-radius: 9999px;
    padding: 0.3rem;
    border: 2px solid transparent;
}

.addressDetail:hover .linkedIn {
    border-color: #0e76a8;
}

.addressDetail:hover .linkedIn svg {
    fill: #0e76a8;
}

.addressDetail:hover .github {
    border-color: #333;
}

.addressDetail:hover .github svg{
    fill: #333
}

.addressDetail:hover .email {
    border-color: #DB4437;
}

.addressDetail:hover .email svg{
    fill: #DB4437;
}

.addressDetail:hover .phone {
    border-color: #25D366;
}

.addressDetail:hover .phone svg{
    fill: #25D366;
}

