@value globals: "./globals.css";
@value dark-blue, accent, white from globals;

.projectSection {
    padding: 1.5rem 6rem;
}

.blueBg {
    background-color: dark-blue;
    color: white;
}

.whiteBg {
    background-color: white;
    color: dark-blue;
}

.buttonReturn {
    position: absolute;
    top: 30px;
    left: 60px;
    padding: .75rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    color: white;
    font-size: 1.25rem;
    transition: font-size .2s ease-in-out;
    min-height: 60px;
    cursor: pointer;
}

.buttonReturn span {
    display: none;
}

.buttonReturn svg {
    transition: transform .3s linear;
}

.buttonReturn:hover {
    font-size: 1.28rem;
}

.buttonReturn:hover svg{
    transform: rotate(135deg);
}

.buttonReturn:hover span {
    display: block;
}

.projectDescContainer {
    margin: 5rem 0 3rem 0;
    display: flex;
}

.description a {
    color: #fff;
}

.projectName {
    font-size: 60px;
    color: dark-blue;
    margin-bottom: 1rem;
}

.projectInfos {
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex: 60%;
}

.projectTech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 40%;
}

.previews {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
}

.imageContainer {
    text-align: center;
}

.skillCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 0;
}

.outsideLinks {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.outsideLink {
    padding: 1em 3em;
    background-color: accent;
    color: dark-blue;
    border-radius: .25rem;
    text-decoration: none;
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.outsideLink:hover {
    text-decoration: none;
    color: dark-blue;
}

.outsideLink svg {
    color: dark-blue;
}

.separatorTitle {
    font-size: 40px;
}

.lightUp:hover svg{
    /* background-color: red; */
    fill: white;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
}

.projectType {
    color: accent;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

@media (max-width: 1000px) {
    .projectSection {
        padding: 1.5rem 3rem;
    }
}

@media (max-width: 768px) {
    .skillCards {
        flex-direction: column;
        align-items: center;
    }

    .projectDescContainer {
        flex-direction: column-reverse;
    }

    .projectTech {
        text-align: center;
    }

    .projectSection {
        padding: 1.5rem .5rem;
    }
}



