@value globals: "./globals.css";
@value dark-blue, accent, white from globals;

.projectsHeader {
    text-align: center;
    color: dark-blue;
    font-size:60px;
}

#highlight {
    color: dark-blue;
}

.projectsLayout {
    padding: 4rem;
    background: white;
}

.projectsContainer {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


@media (max-width: 768px) {
    .projectsLayout {
        padding: 4rem 0;
    }
}
