.projectsHeader {
    text-align: center;
    color: rgb(237, 253, 238);
}

.projectsLayout {
    padding: 8rem 4rem 10rem 4rem;
    background: #050505
}

.projectsContainer {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

