@value globals: "./globals.css";
@value dark-blue, accent, white from globals;


.technoCategory {
    color: accent;
    font-size: 16px;
    letter-spacing: 2px;
}

.technoName {
    font-size: 16px;
}

.tech {
    margin-top: 1rem;
}
