@value globals: "./globals.css";
@value accent from globals;


.techName {
    padding: 0.2em 0.3em;
    margin-right: .5rem;
    margin-top: .5rem;
    /* margin-bottom: .5rem; */
    border: #aaa 2px solid;
    border-radius: .3rem;
    color: #aaa;
    font-size: 14px;
    cursor: default;
}

.techName:hover {
    border: accent 2px solid;
}