@value colors: "./globals.css";
@value dark-blue, boxShadow1, boxShadow2, accent, white from colors;

.detail {
    color: white;
    padding: 30px;
    border-radius: 50px;
    background: dark-blue;
    box-shadow:  20px 20px 60px boxShadow1,
                -20px -20px 60px boxShadow2;
    max-width: 500px;
    float:left;  
    flex: 1; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.info {
    flex: 0 30%; 
    color: white;
    margin: 0 2rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
}

.workWrapper {
    display: flex;
    flex-direction: row;
}

.workWrapper::after {
    content: "";
    display: table;
}

.workWrapper:nth-of-type(2n) .detail{
    order: 1;
}

.company {
    font-size: 20px;
}

.dates {
    margin: 1rem 0 2rem 0;
}

.datesSmall {
    margin: .25rem 0 .5rem 0;
    display: none;
    margin-left: auto;
    color: accent;
}

.title {
    font-size: 22px;
}

.stack {
    margin-top: auto;
}

.companySmall {
    text-decoration: underline;
    margin-bottom: .5rem;
    margin-top: .25rem;
    display: none;
}

@media (min-width: 850px) {
    .workWrapper {
        margin: 0 5rem;
        max-width: 800px;
    }
}

@media (max-width: 650px) {
    .workWrapper .detail{
        order: 0;
    }

    .workWrapper:nth-of-type(2n) .detail{
        order: 0;
    }

    .info {
        display: none;
    }

    .companySmall {
        display: block;
    }

    .datesSmall {
        display: block;
    }
}