@value globals: "./globals.css";
@value dark-blue, accent, connectorWidth, white from globals;

.worksHeader {
    text-align: center;
    color: dark-blue;
    margin-bottom: 3rem;
    font-size:60px;

}

.worksLayout {
    padding: 4rem 4rem;
    background: dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.worksContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.workDivider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -.5rem;   
}

.connectorDot {
    background-color: accent;
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
    z-index: 10;
    position: relative;
}

.right {
    margin-left: 30%;
}

.left {
    margin-right: 30%;
}

.connectorPing {
    background-color: accent;
    border-radius: 9999px;
    animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
    width: 1rem;
    height: 1rem;    
    z-index: 10;
    position: relative;
}

.connectorLine {
    background-color: grey;
    z-index: 9;
    --connectorOffset: 0.25rem;
}

.firstSegment {
    width: calc(connectorWidth);
    height: calc( 3rem + connectorWidth);
    margin-top: -.5rem;
    margin-bottom: calc(-connectorWidth);
}
.horizontalSegment {
    width: calc( 30% + connectorWidth);
    height: calc(connectorWidth);
}

.secondSegment {
    width: calc(connectorWidth);
    height: calc( 3rem + connectorWidth);
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

@media (max-width: 650px) {
    .worksLayout {
        padding: 4rem 0;
    }
    .horizontalSegment {
        display: none;
    }

    .left {
        /* Align all to .right */
        margin-left: 50%;
        margin-right: 50%;
    }

    .right {
        margin-left: 50%;
        margin-right: 50%;
    }
    
}
